@model ECMS.Models.Database.Color
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">


        <div class="card">
            <div class="card-body p-4">
                <h5 class="card-title">Add New Coupon</h5>
                <hr />
                <div class="form-body mt-4">
                    <form action="@Url.Action("Update", "Color")" method="post" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <div class="col-lg-8">
                                <div class="border border-3 p-4 rounded">
                                    <div class="mb-3">
                                        <label for="inputProductTitle" class="form-label">Color name *</label>
                                        <input type="text" class="form-control" id="inputProductTitle" placeholder="Color name" name="colorName" value="@Model.colorName" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="inputProductTitle" class="form-label">Color Code (Hex) *</label>
                                        <input type="text" class="form-control" id="inputProductTitle" placeholder="Color code" name="color" value="@Model.color1" required>
                                    </div>


                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-primary">
                                    </div>

                                </div>
                            </div>

                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<!--end page wrapper -->